
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins:wght@100;200&display=swap');
*{
  /* font-family: 'Merriweather', serif; */
  font-family: 'Poppins', sans-serif;
}



.or {
  font-weight: 700;
  margin-left: 30px;
  margin-right: 30px;
  text-transform: lowercase;
}
#search-results-container {
  width: 100%;
  background: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  -webkit-box-shadow: 1px 2px 5px #e5e9f2;
  box-shadow: 1px 2px 5px #e5e9f2;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #fff;
  border-radius: 0 0 24px 24px;
  box-shadow: 0 9px 8px -3px rgb(64 60 67 / 24%),
    8px 0 8px -7px rgb(64 60 67 / 24%), -8px 0 8px -7px rgb(64 60 67 / 24%);
  border: 0;
  padding-bottom: 4px;
}
#search-results-container li {
  padding: 10px 7px;
  margin: 0 20px 0 14px;
  display: flex;
  align-items: center;
  min-width: 0;
  max-height: none;
}
.my_bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}
.new-arrival-product .new-arrivals-img-contnent img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.new-arrival-product .new-arrivals-img-contnent {
  width: 100%;
  height: 200px;
}
.new-arrivals-img-contnent:last-child {
  margin-bottom: 0;
}
.new-arrival-content.text-center .price {
  font-size: 80%;
}
.a-section:last-child {
  margin-bottom: 0;
}

.ya-personalized,
.ya-two-col-container {
  max-width: 1000px;
}
.a-spacing-base,
.a-ws .a-ws-spacing-base {
  margin-bottom: 12px !important;
}
.a-container {
  min-width: 998px;
  padding: 14px 18px 18px;
  margin: 0 auto;
}
.a-row {
  width: 100%;
}
.ya-card-row {
  display: table;
  height: 100%;
  margin-bottom: 20px;
  width: 100%;
}
.ya-card-cell:first-child {
  padding-left: 0;
  width: 320px;
}

.ya-card-cell {
  display: table-cell;
  height: 100%;
  padding-left: 20px;
  width: 340px;
}
.ya-card__whole-card-link {
  height: 100%;
  display: block;
}

.ya-card,
.ya-card--rich {
  height: 100%;
}

.a-box {
  display: block;
  border-radius: 8px;
  background-color: #fff;
  border: 1px #d5d9d9 solid;
}
.a-box .a-box-inner {
  border-radius: 8px;
  position: relative;
  padding: 14px 18px;
}
.a-ws div.a-column,
div.a-column {
  margin-right: 2%;
  float: left;
  min-height: 1px;
  overflow: visible;
}
.a-row .a-span3,
.a-ws .a-row .a-ws-span3 {
  width: 23.448%;
}
.a-ws .a-ws-span12,
div.a-column.a-span-last {
  margin-right: 0;
  float: right;
}
.ya-card__heading--rich {
  color: #111;
  font-size: 17px;
}
.a-color-secondary,
.a-color-tertiary {
  color: #565959 !important;
}
h1.a-spacing-none,
h2.a-spacing-none,
h3.a-spacing-none,
h4.a-spacing-none {
  padding-bottom: 0;
}
hr {
  background-color: transparent;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-top: 1px solid #e7e7e7;
  display: block;
  height: 1px;
  line-height: 19px;
  margin-bottom: 14px;
  margin-top: 0;
}
.a-spacing-extra-large,
.a-ws .a-ws-spacing-extra-large {
  margin-bottom: 32px !important;
}
.a-spacing-top-extra-large {
  margin-top: 32px !important;
}
.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#checkboxes {
  display: none;
  border: 1px #dadada solid;
  padding: 10px;
}

.checkboxes {
  display: none;
  border: 1px #dadada solid;
  padding: 10px;
}

#checkboxes label,
.checkboxes label {
  display: block;
}
.noPrint {
  display: none;
}
.note-editor.note-frame.fullscreen {
  background-color: white !important;
}
.is_yes {
  color: green !important;
}
.is_no {
  color: red;
}
.pointer {
  cursor: pointer;
}
.bg1 {
  background: linear-gradient(90deg, rgb(28, 181, 224) 0%, rgb(0, 8, 81) 100%);
}
.bg2 {
  background: linear-gradient(
    90deg,
    rgb(158, 189, 19) 0%,
    rgb(0, 133, 82) 100%
  );
}
.bg3 {
  background: linear-gradient(
    90deg,
    rgb(253, 187, 45) 0%,
    rgb(58, 28, 113) 100%
  );
}
.bg4 {
  background: linear-gradient(90deg, rgb(7, 0, 184) 0%, rgb(0, 255, 136) 100%);
}
.bg5 {
  background: linear-gradient(
    90deg,
    rgb(213, 51, 105) 0%,
    rgb(218, 174, 81) 100%
  );
}
.bg6 {
  background: linear-gradient(
    209.21deg,
    rgb(29, 145, 252) 13.57%,
    rgb(90, 54, 192) 98.38%
  );
}
.bg7 {
  background: linear-gradient(
    209.21deg,
    rgb(101, 187, 118) 13.57%,
    rgb(70, 111, 171) 98.38%
  );
}
.bg8 {
  background: linear-gradient(
    209.21deg,
    rgb(215, 81, 65) 13.57%,
    rgb(215, 65, 101) 98.38%
  );
}
.bg9 {
  background: linear-gradient(
    209.21deg,
    rgb(10, 57, 136) 13.57%,
    rgb(188, 168, 255) 98.38%
  );
}
.bg10 {
  background: linear-gradient(
    209.21deg,
    rgb(210, 145, 255) 13.57%,
    rgb(31, 0, 64) 98.38%
  );
}
.bg11 {
  background: linear-gradient(
    209.21deg,
    rgb(89, 42, 121) 13.57%,
    rgb(232, 126, 114) 98.38%
  );
}
.bg12 {
  background: linear-gradient(
    209.21deg,
    rgb(0, 24, 69) 13.57%,
    rgb(54, 135, 216) 98.38%
  );
}
.fs-12 {
  font-size: 12px !important;
}
.fs-11 {
  font-size: 11px !important;
}

.ml-4 {
  margin-left: 4% !important;
}

.fs-30 {
  font-size: 30px !important;
}

ul.myli li {
  list-style: disc;
  margin-left: 12%;
}

.ourbg {
  background: rgba(0, 0, 0, 0.91);
  
}
.ourbg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  .ourbg {
    left: 50%;
    margin-left: -512px; /* 50% */
  }
}
.mynotify {
  margin-left: -240%;
}
